extends ../layouts/error_layout

block content

    // site navigation bar
    header
        .container
            a.site-logo(href="/")
                img.not-found-brand-name(src='/img/site/brand-name-black.png')

    section(style="padding:0")
        .container
            .row
                .col-xs-12
                    h1.page-bad-request 400
            .row
                p.text-center.notfound-msg
                    |   Bad request
                    br
                p.text-center=error
            .row
                .col-xs-12.text-center
                    a.btn.btn-home(href="/") HOME