extends ../layouts/error_layout

block content

    // site navigation bar
    header
        .container
            a.site-logo(href="/")
                img.not-found-brand-name(src='/img/site/brand-name-black.png')

    section(style="padding:0")
        .container
            .row
                .col-xs-12
                    h1.page-not-found 404
            .row
                .col-xs-12.text-center
                    br
                    .clearfix
                    a.btn.btn-home(href="/") HOME