/* line 15, ../../../resources/src/sass/cpanel/admin.scss */
body {
  margin: 0;
  padding: 70px 0 30px 0;
  font-size: 14px;
  color: #263238;
  background-color: #e4e5e6;
}

/* line 22, ../../../resources/src/sass/cpanel/admin.scss */
.content-wrapper {
  display: table;
  width: 100%;
}

/* line 26, ../../../resources/src/sass/cpanel/admin.scss */
.container-fluid .row h2 {
  margin: 0;
}

/* line 29, ../../../resources/src/sass/cpanel/admin.scss */
.container-fluid .row hr {
  margin-top: 0;
}

/* line 32, ../../../resources/src/sass/cpanel/admin.scss */
.pagination > li > a, .pagination > li > span {
  padding: 2px 8px !important;
}

/* line 35, ../../../resources/src/sass/cpanel/admin.scss */
#accountsList_filter, #accountsList_length {
  display: none;
}

/* line 38, ../../../resources/src/sass/cpanel/admin.scss */
h3 {
  margin: 0 0 14px;
  line-height: 28px;
  font-size: 24px;
}

/* line 43, ../../../resources/src/sass/cpanel/admin.scss */
.simple-text {
  font-size: 16px;
  margin: 0 0 18px 0;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 50, ../../../resources/src/sass/cpanel/admin.scss */
.date-tables {
  font-size: 16px;
  color: #000;
  background: #ebeaea;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";
  /*IE 8*/
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /*FF 3.5+*/
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000);
  /*IE 5.5-7*/
}

/* line 60, ../../../resources/src/sass/cpanel/admin.scss */
#about {
  padding-bottom: 30px;
  background: #fff;
}

/* line 64, ../../../resources/src/sass/cpanel/admin.scss */
#conference {
  padding-bottom: 25px;
  background: #fff;
}

/* line 68, ../../../resources/src/sass/cpanel/admin.scss */
.mrg-top-15 {
  margin-top: 15px;
}

/* line 71, ../../../resources/src/sass/cpanel/admin.scss */
#partners {
  padding-bottom: 30px;
}

/* line 75, ../../../resources/src/sass/cpanel/admin.scss */
.date-tables > tbody > tr > td, .date-tables > tbody > tr > th, .date-tables > tfoot > tr > td, .date-tables > tfoot > tr > th, .date-tables > thead > tr > td, .date-tables > thead > tr > th {
  padding: 10px;
  line-height: 1.5;
  background: #fff;
  vertical-align: middle;
  border: none;
  font-weight: 500;
  border-bottom: solid 1px #003d67;
  text-align: center;
}

/* line 85, ../../../resources/src/sass/cpanel/admin.scss */
.date-tables > tbody > tr:last-child td {
  border-bottom: none;
}

/* line 88, ../../../resources/src/sass/cpanel/admin.scss */
h3.text-underline {
  font-size: 24px;
  text-decoration: underline;
}

/* line 92, ../../../resources/src/sass/cpanel/admin.scss */
hr {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  width: 60%;
  background-image: linear-gradient(to right, transparent, rgba(144, 144, 144, 0.75), transparent);
}

/* line 100, ../../../resources/src/sass/cpanel/admin.scss */
.margin-40 {
  margin-bottom: 40px;
}

/* line 103, ../../../resources/src/sass/cpanel/admin.scss */
.quick-thing img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/* line 108, ../../../resources/src/sass/cpanel/admin.scss */
.quick-thing .item i {
  top: -30px;
  right: 10px;
  position: relative;
}

/* line 113, ../../../resources/src/sass/cpanel/admin.scss */
.quick-thing .item i.fa-angle-double-right {
  top: -30px;
  right: -10px;
  position: relative;
}

/* line 118, ../../../resources/src/sass/cpanel/admin.scss */
.text-error {
  color: #DC0707;
  font-size: 12px;
  text-align: left;
}

/* line 123, ../../../resources/src/sass/cpanel/admin.scss */
.form-group {
  margin-bottom: 5px !important;
}

/* line 126, ../../../resources/src/sass/cpanel/admin.scss */
.page-title-heaer {
  color: #fff;
  margin: 0;
  padding: 12px 0 0 10px;
  font-weight: 500;
}

/* line 132, ../../../resources/src/sass/cpanel/admin.scss */
.mrg-left-15 {
  margin-left: 15px !important;
}

/* line 135, ../../../resources/src/sass/cpanel/admin.scss */
.mrg-top-35 {
  margin-top: 35px !important;
}

/* line 138, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-custom {
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/* line 144, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-custom .navbar-nav > li > a {
  color: #405965 !important;
}

/* line 147, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-custom .nav > li > a:focus, .navbar-custom .nav > li > a:hover {
  text-decoration: none;
  color: #182429;
}

/* line 151, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-brand {
  line-height: 25px;
  color: #405965;
}

@media (min-width: 768px) {
  /* line 156, ../../../resources/src/sass/cpanel/admin.scss */
  .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
/* line 161, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-brand:hover {
  color: #182429;
}

/* line 164, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-custom .nav > li > a i {
  width: 25px;
  color: #367fa9;
}

/* line 168, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-toggle {
  padding: 7px 10px 0 10px;
}

/* line 171, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-toggle i {
  color: #fff;
}

/* line 174, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-fixed-top {
  border-width: 0;
}

/* line 177, ../../../resources/src/sass/cpanel/admin.scss */
a {
  cursor: pointer;
}

/* line 180, ../../../resources/src/sass/cpanel/admin.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

/* line 184, ../../../resources/src/sass/cpanel/admin.scss */
textarea {
  resize: none;
}

/* line 187, ../../../resources/src/sass/cpanel/admin.scss */
#wrapper {
  position: relative;
  padding-top: 50px;
  display: block;
  width: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 199, ../../../resources/src/sass/cpanel/admin.scss */
#wrapper.toggled {
  padding-left: 210px;
}

/* line 203, ../../../resources/src/sass/cpanel/admin.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  top: 116px;
  left: 210px;
  min-height: calc(100vh - 120px);
  width: 0;
  height: 100%;
  margin-left: -210px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #405965;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 221, ../../../resources/src/sass/cpanel/admin.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 210px;
}

/* line 225, ../../../resources/src/sass/cpanel/admin.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* line 230, ../../../resources/src/sass/cpanel/admin.scss */
.navbar-logo {
  display: inline-block;
  width: 155px;
  height: 55px;
  padding: .5rem 1rem;
  background-image: url(/img/cpanel/logo-720-202.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px auto;
}

/* Sidebar Styles */
/*#sidebar-wrapper{*/
/*-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);*/
/*box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);*/
/*}*/
/* line 245, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 254, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li {
  text-indent: 8px;
  line-height: 40px;
}

/* line 258, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li.activeMenu {
  color: #fff;
  background: #4b5e65;
}
/* line 261, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li.activeMenu i {
  color: #f9d533;
}
/* line 264, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li.activeMenu span {
  color: #fff;
}
/* line 267, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li.activeMenu a {
  border-left: solid 5px #20a8d8;
}

/* line 272, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  border-left: solid 5px #405965;
  color: #fff;
}

/* line 278, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li a i {
  width: 25px;
  color: #fff;
  padding: 0;
  margin-right: 15px;
}

/* line 285, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li a:hover {
  text-decoration: none;
  border-left: solid 5px #20a8d8;
  color: #fff;
  background: #4b5e65;
}
/* line 291, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li a:hover i {
  color: #f9d533;
}

/* line 296, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 300, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav > li:active,
.sidebar-nav > li:focus {
  color: #fff;
  background: #1e282c;
}

/* line 306, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav > .sidebar-brand {
  border: none !important;
  height: 59px;
  background: #405965 !important;
  font-size: 18px;
  line-height: 59px;
  text-align: left;
  color: #e4e5e6;
}

/* line 316, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

/* line 323, ../../../resources/src/sass/cpanel/admin.scss */
.image404 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -307px;
}

/* line 329, ../../../resources/src/sass/cpanel/admin.scss */
button {
  outline: none !important;
}

/* line 332, ../../../resources/src/sass/cpanel/admin.scss */
.panel-red {
  border-color: #d9534f;
}

/* line 335, ../../../resources/src/sass/cpanel/admin.scss */
.panel-yellow {
  border-color: #f0ad4e;
}

/* line 338, ../../../resources/src/sass/cpanel/admin.scss */
.panel-green {
  border-color: #5cb85c;
}

/* line 341, ../../../resources/src/sass/cpanel/admin.scss */
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

/* line 346, ../../../resources/src/sass/cpanel/admin.scss */
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

/* line 351, ../../../resources/src/sass/cpanel/admin.scss */
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

/* line 356, ../../../resources/src/sass/cpanel/admin.scss */
.form-group.required label:after {
  content: "*";
  color: red;
}

/* line 359, ../../../resources/src/sass/cpanel/admin.scss */
.no-padding {
  padding: 0;
}

/* line 360, ../../../resources/src/sass/cpanel/admin.scss */
.btn {
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 367, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li {
  position: relative;
}

/* line 370, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-menu li > a {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 375, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li > a > .pull-right-container {
  position: absolute;
  right: 0px;
  top: 15px;
  -webkit-transition: all .5s ease-out .5s;
  -moz-transition: all .5s ease-out .5s;
  -o-transition: all .5s ease-out .5s;
  transition: all .5s ease-out .5s;
}

/* line 384, ../../../resources/src/sass/cpanel/admin.scss */
.sub-menu {
  padding: 0;
}

/* line 387, ../../../resources/src/sass/cpanel/admin.scss */
.sub-menu li {
  line-height: 2.5 !important;
}

/* line 390, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav ul .sub-menu li,
.sidebar-nav li .sub-menu li a {
  background-color: #2d4d5d;
  border: none;
  line-height: 2;
  border-bottom: 1px solid #23282e;
  margin-left: 0;
}

/* line 398, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li .sub-menu li a i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 404, ../../../resources/src/sass/cpanel/admin.scss */
.selected {
  display: none;
  float: right;
  position: absolute;
  right: 0px;
  top: 7px;
  background: 0 0;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 12px solid #ecf0f5;
}

/* line 417, ../../../resources/src/sass/cpanel/admin.scss */
.activeMenu .selected {
  display: block;
}

/* line 420, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li .sub-menu li a:hover {
  background-color: #367fa9;
}

/* line 423, ../../../resources/src/sass/cpanel/admin.scss */
.sidebar-nav li .sub-menu li a:hover i {
  position: relative;
  left: 8px;
  color: #fff;
}

/* line 428, ../../../resources/src/sass/cpanel/admin.scss */
li[aria-expanded=true] a {
  color: #fff;
  background: #1e282c;
  border-left-color: #1e282c;
}

/* line 433, ../../../resources/src/sass/cpanel/admin.scss */
li[aria-expanded=true] a:hover {
  color: #fff;
  background: #1e282c;
  border-left-color: #1e282c;
}

/* line 438, ../../../resources/src/sass/cpanel/admin.scss */
li[aria-expanded=true] > a {
  background: #192328;
}

/* line 441, ../../../resources/src/sass/cpanel/admin.scss */
li[aria-expanded=true] > a > .pull-right-container i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 447, ../../../resources/src/sass/cpanel/admin.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 451, ../../../resources/src/sass/cpanel/admin.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 467, ../../../resources/src/sass/cpanel/admin.scss */
.user-self-media-control img {
  width: 100%;
  margin: 0 auto;
}

/* line 471, ../../../resources/src/sass/cpanel/admin.scss */
.delete-image:hover {
  opacity: 1;
}

/* line 474, ../../../resources/src/sass/cpanel/admin.scss */
.delete-image button {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #B1A9A6;
  outline: 0;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  border: none;
}

/* line 486, ../../../resources/src/sass/cpanel/admin.scss */
.delete-image button i {
  font-size: 14px;
  top: 1px;
  left: -2px;
}

/* line 491, ../../../resources/src/sass/cpanel/admin.scss */
.delete-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* line 498, ../../../resources/src/sass/cpanel/admin.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 0 0;
  margin: 0 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #66afe9;
  border-right: 1px solid #66afe9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 522, ../../../resources/src/sass/cpanel/admin.scss */
.ui-autocomplete .ui-menu-item {
  padding: 0;
  border-bottom: 1px solid #66afe9;
  cursor: pointer;
}

/* line 527, ../../../resources/src/sass/cpanel/admin.scss */
.ui-autocomplete .ui-menu-item:hover {
  background: #dfdfdf;
}

/* line 530, ../../../resources/src/sass/cpanel/admin.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 532, ../../../resources/src/sass/cpanel/admin.scss */
.btn-chat {
  position: absolute;
  bottom: 0;
  left: 8px;
  padding: 2px 8px;
  font-size: 10px;
  line-height: 1;
}

/* line 540, ../../../resources/src/sass/cpanel/admin.scss */
._giftBl1 {
  background: -moz-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 0deg, color-stop(0, 1288df), color-stop(100%, 59DFFD));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* W3C */
}

/* line 549, ../../../resources/src/sass/cpanel/admin.scss */
._giftBl1 i {
  color: #fff;
}

/* line 552, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figcaption .sub-title {
  white-space: normal !important;
}

/* line 555, ../../../resources/src/sass/cpanel/admin.scss */
.bg-overlay50 {
  /*background-color: rgba(0,0,0,.5);*/
  padding: 50px 0;
}

/* line 559, ../../../resources/src/sass/cpanel/admin.scss */
.bg-overlay0 {
  padding: 50px 0;
}

/* line 562, ../../../resources/src/sass/cpanel/admin.scss */
._giftBl1 h2 {
  font-size: 34px;
  line-height: 1.3;
  font-weight: 300;
  color: #fff;
}

/* line 568, ../../../resources/src/sass/cpanel/admin.scss */
._giftBl1 h3 {
  font-size: 28px;
  color: #59dffd;
  font-weight: 300;
}

/* line 573, ../../../resources/src/sass/cpanel/admin.scss */
.quote-text-info {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 3px;
}

/* line 578, ../../../resources/src/sass/cpanel/admin.scss */
.quote-text-number {
  font-size: 16px;
}

/* line 581, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade {
  margin-bottom: 50px;
}

/* line 584, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/* line 588, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

/* line 593, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

/* line 598, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 606, ../../../resources/src/sass/cpanel/admin.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 609, ../../../resources/src/sass/cpanel/admin.scss */
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/* line 617, ../../../resources/src/sass/cpanel/admin.scss */
.scrollToTop {
  position: fixed;
  background: rgba(232, 232, 232, 0.5);
  padding: 17px;
  bottom: 15px;
  z-index: 50;
  right: 15px;
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 637, ../../../resources/src/sass/cpanel/admin.scss */
.scrollToTop:hover {
  background: rgba(232, 232, 232, 0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=45, Color=#000000)";
  /*IE 8*/
  -moz-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /*FF 3.5+*/
  -webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000);
  /*IE 5.5-7*/
}

/* line 645, ../../../resources/src/sass/cpanel/admin.scss */
._giftBl2 {
  background: -moz-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 0deg, color-stop(0, 1288df), color-stop(100%, 59DFFD));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: linear-gradient(0deg, #1288df 0, #59DFFD 100%);
  /* W3C */
}

/* line 654, ../../../resources/src/sass/cpanel/admin.scss */
.overtext-control {
  /*background: rgba(0, 0, 0, 0.4);*/
  padding: 15px;
  color: #fff;
}

/* line 659, ../../../resources/src/sass/cpanel/admin.scss */
.overtext-control hr {
  margin: 5px auto !important;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.75), transparent);
}

/* line 663, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts {
  padding: 50px 25px;
}

/* line 666, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts p {
  margin-bottom: 15px;
}

/* line 669, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts p a {
  color: #909090;
}

/* line 672, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts h3 {
  color: #1288df;
}

/* line 675, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts h3 a {
  margin: 0 10px;
}

/* line 678, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts a h3 i {
  color: #3b5998;
  margin-left: 10px;
  font-size: 24px;
}

/* line 683, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts p a span {
  color: #909090;
  margin-bottom: 5px;
}

/* line 687, ../../../resources/src/sass/cpanel/admin.scss */
footer#contacts .no-mrg {
  margin: 0;
}

/* line 690, ../../../resources/src/sass/cpanel/admin.scss */
.mrg5 {
  margin-bottom: 10px;
}

/* line 693, ../../../resources/src/sass/cpanel/admin.scss */
.contact-form label {
  margin-bottom: 5px;
}

/* line 696, ../../../resources/src/sass/cpanel/admin.scss */
.contact-form input {
  margin-bottom: 0px;
}

/* line 699, ../../../resources/src/sass/cpanel/admin.scss */
.contact-form-success h2 {
  margin: 0 0 14px;
  line-height: 28px;
  font-size: 32px;
  color: #e40a19;
}

/* line 705, ../../../resources/src/sass/cpanel/admin.scss */
.errorFullname, .errorEmail {
  width: 100%;
  font-size: 12px;
  color: #e40a19;
  margin-bottom: 15px;
}

/* line 711, ../../../resources/src/sass/cpanel/admin.scss */
.contact-form-success {
  display: none;
}

/*----------------------------------------
    Pre Loader
------------------------------------------*/
/* line 717, ../../../resources/src/sass/cpanel/admin.scss */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* line 725, ../../../resources/src/sass/cpanel/admin.scss */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2b2e91;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

/* line 743, ../../../resources/src/sass/cpanel/admin.scss */
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0084ce;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

/* line 758, ../../../resources/src/sass/cpanel/admin.scss */
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d60303;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
/* line 817, ../../../resources/src/sass/cpanel/admin.scss */
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #f5f5f5;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

/* line 833, ../../../resources/src/sass/cpanel/admin.scss */
#loader-wrapper .loader-section.section-left {
  left: 0;
}

/* line 836, ../../../resources/src/sass/cpanel/admin.scss */
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
/* line 841, ../../../resources/src/sass/cpanel/admin.scss */
.ready-load #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* line 854, ../../../resources/src/sass/cpanel/admin.scss */
.ready-load #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* line 867, ../../../resources/src/sass/cpanel/admin.scss */
.ready-load #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 872, ../../../resources/src/sass/cpanel/admin.scss */
.ready-load #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* line 886, ../../../resources/src/sass/cpanel/admin.scss */
.modal-header {
  background: #5c7c96;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  padding: 15px;
}

/* line 893, ../../../resources/src/sass/cpanel/admin.scss */
.form-control {
  box-shadow: none;
  border-color: #126fbc;
}

/* line 897, ../../../resources/src/sass/cpanel/admin.scss */
.modal-body .form-group {
  margin-bottom: 15px !important;
}

/* line 900, ../../../resources/src/sass/cpanel/admin.scss */
.modal-body {
  padding: 20px;
}

/* line 903, ../../../resources/src/sass/cpanel/admin.scss */
.modal-body .control-label {
  font-weight: 400;
  color: #333333;
}

/* line 907, ../../../resources/src/sass/cpanel/admin.scss */
.modal-body .btn {
  padding: 7px 30px;
  line-height: 1.3;
  font-weight: 300;
}

/* line 912, ../../../resources/src/sass/cpanel/admin.scss */
.modal-body .btn-success {
  background: #126fbc;
  border-color: #126fbc;
}

/* line 916, ../../../resources/src/sass/cpanel/admin.scss */
.radio-control {
  position: relative;
  min-height: 27px;
  padding-left: 20px;
  padding-top: 6px;
  cursor: pointer;
}

/* line 923, ../../../resources/src/sass/cpanel/admin.scss */
.radio-control input {
  position: absolute;
  top: 3px;
  left: 0;
}

/* line 928, ../../../resources/src/sass/cpanel/admin.scss */
.note-modal {
  font-size: 12px;
  font-weight: 300;
  color: #333333;
}

/* line 933, ../../../resources/src/sass/cpanel/admin.scss */
.form-ticket-success {
  display: none;
}

/* line 936, ../../../resources/src/sass/cpanel/admin.scss */
.form-ticket-success h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 15px;
}

/* line 941, ../../../resources/src/sass/cpanel/admin.scss */
.subscribe-form-success {
  display: none;
}

/* line 944, ../../../resources/src/sass/cpanel/admin.scss */
._err {
  font-size: 12px;
  color: red;
}

/* line 948, ../../../resources/src/sass/cpanel/admin.scss */
.prt-gallery {
  margin-bottom: 30px;
  padding: 5px;
  overflow: hidden;
}

/* line 953, ../../../resources/src/sass/cpanel/admin.scss */
a.prt-gallerynail.active, a.prt-gallerynail:focus, a.prt-gallerynail:hover {
  border: none !important;
}

/* line 956, ../../../resources/src/sass/cpanel/admin.scss */
.prt-gallery figure a img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* line 961, ../../../resources/src/sass/cpanel/admin.scss */
.prt-gallery figure a img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  border-style: none;
  height: auto;
  max-height: 189px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 4px;
  /*Safari, Chrome*/
  -moz-border-radius: 4px;
  /*Firefox*/
  border-radius: 4px;
}

/* line 976, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery {
  margin-bottom: 25px;
}

/* line 979, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figure {
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden;
}

/* line 985, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figure img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 189px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 4px;
  /*Safari, Chrome*/
  -moz-border-radius: 4px;
  /*Firefox*/
  border-radius: 4px;
}

/* line 998, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figure img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* line 1003, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figcaption {
  padding: 2.35765%;
  text-align: center;
  min-height: 6.875rem;
}

/* line 1008, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figcaption .title {
  padding-bottom: 3px;
  color: #373737;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  font-weight: 800;
}

/* line 1019, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figcaption .sub-title {
  display: block;
  font-size: 12px;
  color: #5d5d5d;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 1028, ../../../resources/src/sass/cpanel/admin.scss */
.partners-gallery > .item figcaption .sub-text {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #909090;
  line-height: 1.4;
}

/* line 1035, ../../../resources/src/sass/cpanel/admin.scss */
#privacy p {
  font-size: 14px;
  margin-bottom: 14px;
}

/* line 1039, ../../../resources/src/sass/cpanel/admin.scss */
#custom_carousel .item {
  min-height: 300px;
}

/* line 1042, ../../../resources/src/sass/cpanel/admin.scss */
.btn-facebook {
  background-color: #306199;
  color: #fff;
  padding: 10px 23px;
  font-size: 18px;
  font-weight: 300;
  border: solid 2px transparent;
}

/* line 1050, ../../../resources/src/sass/cpanel/admin.scss */
.btn-facebook:active, .btn-facebook:focus {
  background-color: #306199;
  color: #fff;
  padding: 10px 23px;
  font-size: 18px;
  font-weight: 300;
  border: solid 2px transparent;
}

/* line 1058, ../../../resources/src/sass/cpanel/admin.scss */
.btn-facebook:hover {
  background-color: #fff;
  color: #306199;
  border: solid 2px #306199;
}

/* line 1063, ../../../resources/src/sass/cpanel/admin.scss */
.btn-facebook i {
  margin-right: 5px;
}

/* line 1066, ../../../resources/src/sass/cpanel/admin.scss */
body {
  padding: 0 !important;
}

/* line 1070, ../../../resources/src/sass/cpanel/admin.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1075, ../../../resources/src/sass/cpanel/admin.scss */
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 1080, ../../../resources/src/sass/cpanel/admin.scss */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

/* line 1085, ../../../resources/src/sass/cpanel/admin.scss */
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

/* line 1088, ../../../resources/src/sass/cpanel/admin.scss */
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

/* line 1094, ../../../resources/src/sass/cpanel/admin.scss */
.box.box-primary {
  border-top-color: #3c8dbc;
}

/* line 1097, ../../../resources/src/sass/cpanel/admin.scss */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/* line 1107, ../../../resources/src/sass/cpanel/admin.scss */
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 10px 0;
  line-height: 1;
}

/* line 1113, ../../../resources/src/sass/cpanel/admin.scss */
.box-header {
  display: block;
  padding: 10px;
  position: relative;
  color: #444;
  background-color: rgba(60, 141, 188, 0.3);
}

/* line 1120, ../../../resources/src/sass/cpanel/admin.scss */
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

/* line 1127, ../../../resources/src/sass/cpanel/admin.scss */
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: rgba(60, 141, 188, 0.3);
}

/* line 1136, ../../../resources/src/sass/cpanel/admin.scss */
.box-body > .table {
  margin-bottom: 0;
}

/* line 1140, ../../../resources/src/sass/cpanel/admin.scss */
.table-bordered {
  border: 1px solid #f4f4f4;
}

/* line 1143, ../../../resources/src/sass/cpanel/admin.scss */
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #f4f4f4;
}

/* line 1146, ../../../resources/src/sass/cpanel/admin.scss */
.no-margin {
  margin: 0 !important;
}

/* line 1149, ../../../resources/src/sass/cpanel/admin.scss */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #f4f4f4;
}

/* line 1152, ../../../resources/src/sass/cpanel/admin.scss */
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

/* line 1155, ../../../resources/src/sass/cpanel/admin.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.6;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

/* line 1161, ../../../resources/src/sass/cpanel/admin.scss */
.thead-info th {
  background-color: #367fa9;
  color: #fff;
}

/* line 1165, ../../../resources/src/sass/cpanel/admin.scss */
th {
  text-align: left;
}

/* line 1168, ../../../resources/src/sass/cpanel/admin.scss */
.table tr td .progress {
  margin-top: 5px;
}

/* line 1171, ../../../resources/src/sass/cpanel/admin.scss */
.table tr > td .progress {
  margin: 0;
}

/* line 1174, ../../../resources/src/sass/cpanel/admin.scss */
.progress.xs, .progress-xs, .progress.xs .progress-bar, .progress-xs .progress-bar {
  border-radius: 1px;
}

/* line 1177, ../../../resources/src/sass/cpanel/admin.scss */
.progress.xs, .progress-xs {
  height: 7px;
}

/* line 1180, ../../../resources/src/sass/cpanel/admin.scss */
.progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
  border-radius: 1px;
}

/* line 1183, ../../../resources/src/sass/cpanel/admin.scss */
.progress, .progress > .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1190, ../../../resources/src/sass/cpanel/admin.scss */
.autocomplete-suggestions {
  overflow: auto;
  cursor: pointer;
  margin: 0;
}

/* line 1195, ../../../resources/src/sass/cpanel/admin.scss */
.autocomplete-suggestion {
  padding: 10px 5px;
  background: #fdfffd;
  border-left: solid 1px #d2d6de;
  border-right: solid 1px #d2d6de;
  border-bottom: solid 1px #d2d6de;
}

/* line 1202, ../../../resources/src/sass/cpanel/admin.scss */
.autocomplete-suggestion:hover {
  background: #c8cac8;
}

/* line 1205, ../../../resources/src/sass/cpanel/admin.scss */
.autocomplete {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
}

/* line 1214, ../../../resources/src/sass/cpanel/admin.scss */
.autocomplete-no-suggestion {
  padding: 10px 5px;
  background: #fffccf;
  border-left: solid 1px #d2d6de;
  border-right: solid 1px #d2d6de;
  border-bottom: solid 1px #d2d6de;
}

@media (min-width: 768px) {
  /* line 1222, ../../../resources/src/sass/cpanel/admin.scss */
  #wrapper {
    padding-left: 210px;
    padding-top: 56px;
  }

  /* line 1227, ../../../resources/src/sass/cpanel/admin.scss */
  #wrapper.toggled {
    padding-left: 0;
  }

  /* line 1231, ../../../resources/src/sass/cpanel/admin.scss */
  #sidebar-wrapper {
    width: 210px;
  }

  /* line 1234, ../../../resources/src/sass/cpanel/admin.scss */
  .footer {
    left: 210px;
  }

  /* line 1237, ../../../resources/src/sass/cpanel/admin.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  /* line 1241, ../../../resources/src/sass/cpanel/admin.scss */
  #page-content-wrapper {
    padding: 81px 20px 20px 20px;
    position: relative;
  }

  /* line 1246, ../../../resources/src/sass/cpanel/admin.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/* line 1251, ../../../resources/src/sass/cpanel/admin.scss */
.footer {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 0 1rem;
  line-height: 40px;
  color: #263238;
  background: #eceff1;
  border-top: 1px solid #cfd8dc;
}

/* line 1264, ../../../resources/src/sass/cpanel/admin.scss */
.page-name {
  position: absolute;
  left: 0;
  z-index: 150;
  width: 100%;
  padding: 15px 15px;
  background: #fff;
  border-bottom: 1px solid #cfd8dc;
}
/* line 1274, ../../../resources/src/sass/cpanel/admin.scss */
.page-name span {
  line-height: 28px;
  font-size: 24px;
  margin: 0;
}
/* line 1279, ../../../resources/src/sass/cpanel/admin.scss */
.page-name .btn {
  margin-left: 8px;
}

/* The switch - the box around the slider */
/* line 1284, ../../../resources/src/sass/cpanel/admin.scss */
.switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: 25px;
  margin-top: 0;
}

/* Hide default HTML checkbox */
/* line 1292, ../../../resources/src/sass/cpanel/admin.scss */
.switch input {
  display: none;
}

/* The slider */
/* line 1295, ../../../resources/src/sass/cpanel/admin.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 52px;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 1308, ../../../resources/src/sass/cpanel/admin.scss */
.switch > span {
  margin-left: 58px;
  top: 2px;
  margin-right: 15px;
  position: relative;
}

/* line 1314, ../../../resources/src/sass/cpanel/admin.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  border-radius: 50%;
  transition: .4s;
}

/* line 1327, ../../../resources/src/sass/cpanel/admin.scss */
input:checked + .slider {
  background-color: #2196F3;
}

/* line 1331, ../../../resources/src/sass/cpanel/admin.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* line 1335, ../../../resources/src/sass/cpanel/admin.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* line 1342, ../../../resources/src/sass/cpanel/admin.scss */
.slider.round {
  border-radius: 34px;
}

/* line 1346, ../../../resources/src/sass/cpanel/admin.scss */
.slider.round:before {
  border-radius: 50%;
}

/* line 1349, ../../../resources/src/sass/cpanel/admin.scss */
.full-width {
  display: block;
}

/* line 1352, ../../../resources/src/sass/cpanel/admin.scss */
.ui-sortable-handle {
  cursor: move;
}

/* line 1355, ../../../resources/src/sass/cpanel/admin.scss */
.savePriority, .savePriorityTP {
  display: none;
}

/* line 1358, ../../../resources/src/sass/cpanel/admin.scss */
.section-head {
  color: #465bff;
  font-weight: 600;
}

/* line 1362, ../../../resources/src/sass/cpanel/admin.scss */
#createRow {
  height: 100px;
  border: dotted 5px #d4ccb0;
  padding: 30px;
  text-align: center;
}
/* line 1368, ../../../resources/src/sass/cpanel/admin.scss */
#createRow button {
  margin: auto;
}

/* line 1373, ../../../resources/src/sass/cpanel/admin.scss */
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

/* line 1378, ../../../resources/src/sass/cpanel/admin.scss */
.bottom .modal-dialog {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
}
/* line 1384, ../../../resources/src/sass/cpanel/admin.scss */
.bottom .modal-dialog .modal-content {
  border-radius: 0;
}
/* line 1387, ../../../resources/src/sass/cpanel/admin.scss */
.bottom .modal-dialog .modal-header {
  background: #f9d533 !important;
}

/* line 1392, ../../../resources/src/sass/cpanel/admin.scss */
a.new-element-types {
  display: block;
}
/* line 1394, ../../../resources/src/sass/cpanel/admin.scss */
a.new-element-types img {
  height: 80px;
}
/* line 1397, ../../../resources/src/sass/cpanel/admin.scss */
a.new-element-types span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  float: left;
  color: #000;
}

/* line 1406, ../../../resources/src/sass/cpanel/admin.scss */
li.divider {
  border-bottom: solid 1px #ccc;
}

/* line 1409, ../../../resources/src/sass/cpanel/admin.scss */
.pos-rel {
  position: relative;
}

/* line 1412, ../../../resources/src/sass/cpanel/admin.scss */
.el-create-sort {
  border: dotted 4px #f9d533;
  padding: 0;
}

/* line 1416, ../../../resources/src/sass/cpanel/admin.scss */
.el-control-actions {
  width: 100%;
  float: left;
}
/* line 1419, ../../../resources/src/sass/cpanel/admin.scss */
.el-control-actions span.fa {
  padding: 3px;
  background: #4b5e65;
  margin-left: 5px;
  color: #fff;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
/* line 1429, ../../../resources/src/sass/cpanel/admin.scss */
.el-control-actions span.fa:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
}

/* line 1435, ../../../resources/src/sass/cpanel/admin.scss */
p.bold {
  font-weight: 600;
}
/* line 1437, ../../../resources/src/sass/cpanel/admin.scss */
p.bold:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
  /*IE 8*/
  text-shadow: 0 0 3px #000000;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
  /*IE 5.5-7*/
}

/* line 1443, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > input[type="checkbox"] {
  display: none;
}

/* line 1447, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > label {
  text-align: left;
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

/* line 1455, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > label::before {
  background: black;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

/* line 1467, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > label::after {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

/* line 1480, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

/* line 1484, ../../../resources/src/sass/cpanel/admin.scss */
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

/* line 1488, ../../../resources/src/sass/cpanel/admin.scss */
.top-25 {
  padding-top: 25px;
}

/* line 1491, ../../../resources/src/sass/cpanel/admin.scss */
.width-6 {
  width: 50% !important;
  float: left;
}

/* line 1495, ../../../resources/src/sass/cpanel/admin.scss */
.loader-ajax {
  background: #000;
  opacity: .7;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/* line 1505, ../../../resources/src/sass/cpanel/admin.scss */
.loader-ajax svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1515, ../../../resources/src/sass/cpanel/admin.scss */
.media-files-grid {
  margin-bottom: 15px;
}

/* line 1520, ../../../resources/src/sass/cpanel/admin.scss */
.media-file a {
  height: 170px;
  overflow-y: hidden;
  display: block;
}
/* line 1524, ../../../resources/src/sass/cpanel/admin.scss */
.media-file a img {
  max-width: 100%;
}
/* line 1528, ../../../resources/src/sass/cpanel/admin.scss */
.media-file .removeMediaFile {
  background: #eea236;
  color: #fff;
  right: 10px;
  line-height: 30px;
  margin-right: -10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 1543, ../../../resources/src/sass/cpanel/admin.scss */
.media-file .removeMediaFile:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
}

/*# sourceMappingURL=admin.css.map */
