/* line 1, ../../../resources/src/sass/cpanel/footers.scss */
#page-content-wrapper.tab-flow {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

/* line 6, ../../../resources/src/sass/cpanel/footers.scss */
.pad-20 {
  padding: 20px;
  position: relative;
}

/* line 11, ../../../resources/src/sass/cpanel/footers.scss */
.tab-flow .nav-tabs {
  background: #fff;
  padding: 25px 25px 0 25px;
}
/* line 16, ../../../resources/src/sass/cpanel/footers.scss */
.tab-flow .nav-tabs > li.active > a, .tab-flow .nav-tabs > li.active > a:focus, .tab-flow .nav-tabs > li.active > a:hover {
  color: #405965;
  cursor: default;
  background-color: #e4e5e6;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

/* line 25, ../../../resources/src/sass/cpanel/footers.scss */
.add-flow .custom-input-file {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;
  background: #eee;
  background-image: linear-gradient(#c4e5ff, #d1cdbc);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=45, Color=#274B75)";
  /*IE 8*/
  -moz-box-shadow: -1px 1px 5px rgba(39, 75, 117, 0.5);
  /*FF 3.5+*/
  -webkit-box-shadow: -1px 1px 5px rgba(39, 75, 117, 0.5);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -1px 1px 5px rgba(39, 75, 117, 0.5);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#274B75);
  /*IE 5.5-7*/
}
/* line 43, ../../../resources/src/sass/cpanel/footers.scss */
.add-flow input[type="file"] {
  z-index: 9999;
  line-height: 0;
  font-size: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  margin: 0;
  padding: 0;
  left: 0;
}
/* line 56, ../../../resources/src/sass/cpanel/footers.scss */
.add-flow .uploadPhoto {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 5em;
  display: none;
  width: 50%;
  color: #fff;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  cursor: pointer;
}
/* line 72, ../../../resources/src/sass/cpanel/footers.scss */
.add-flow .custom-input-file:hover .uploadPhoto {
  display: block;
}
/* line 76, ../../../resources/src/sass/cpanel/footers.scss */
.add-flow .role-pr-status span {
  background: #232C35;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}

/* line 84, ../../../resources/src/sass/cpanel/footers.scss */
.banner-image {
  height: 150px;
}
/* line 87, ../../../resources/src/sass/cpanel/footers.scss */
.banner-image img {
  height: 100%;
  width: auto;
}

/* line 92, ../../../resources/src/sass/cpanel/footers.scss */
.banner-info {
  height: 150px;
}

/* line 95, ../../../resources/src/sass/cpanel/footers.scss */
.banners-sort {
  background: #ddddde;
  position: relative;
  display: table;
  width: 100%;
  padding: 5px;
  border: solid 1px #cccccc;
}

/* line 103, ../../../resources/src/sass/cpanel/footers.scss */
.ui-sortable-handle {
  border: dashed 1px #eea236;
}
/* line 104, ../../../resources/src/sass/cpanel/footers.scss */
.ui-sortable-handle * {
  cursor: -webkit-grab;
}

/* line 110, ../../../resources/src/sass/cpanel/footers.scss */
.actions-control {
  position: relative;
  width: 100%;
  display: table;
  padding: 15px;
}
/* line 116, ../../../resources/src/sass/cpanel/footers.scss */
.actions-control a {
  position: absolute;
  top: 0px;
  background: #eea236;
  color: #fff;
  right: 10px;
  line-height: 30px;
  margin-right: -10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
/* line 130, ../../../resources/src/sass/cpanel/footers.scss */
.actions-control a:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
}
/* line 135, ../../../resources/src/sass/cpanel/footers.scss */
.actions-control a:first-child {
  right: 50px;
}

/*# sourceMappingURL=footers.css.map */
