.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.tagsLabel{
  margin-top: 5px;
  margin-bottom: 0;
}

.right-border{
  border-right: solid 1px #4b5e65;
}

.ui-state-highlight {
  line-height: 1.2em;
  height: 50px;
  margin: 10px 0 25px 0;
  border: dotted 2px red;
}
.ui-state-highlight-row{
  line-height: 1.2em;
  height: 150px;
  margin: 10px 0 25px 0;
  border: dotted 2px red;
}
ul.sortable{
    list-style: none;
    padding: 0;
    margin: 0;

}
.portfolio-item{
  margin-top: 10px;
  .unpublish-style{
    background: #af2a2a;
  }

  .info{
    display: table;
    width: 100%;
    background: #fff;
    height: 120px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div{
    position: relative;
    background: #405965;
    padding: 20px;

    span.badge{
      position: absolute;
      top: 11px;
      left: 15px;
      background: white;
      color: #405965;
      &:hover{
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
      }
      &.active{
        background: #eea236;
      }
    }

    transition: background 0.5s ease;

    &:hover{
      a{
        display: block;
      }
    }

    a {
      position: absolute;
      top: 5px;
      background: #eea236;
      color: #fff;
      right: 26px;
      line-height: 30px;
      margin-right: -10px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;

      &:hover{
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
      }
    }
    a:first-child{
      right: 93px;
    }
    a.sec{
      right: 60px;
    }
    .publishPortfolio{
      background: green;
    }
    .unpublishPortfolio{
      //background: red;
    }

    &:hover{
      cursor: pointer;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
    }
  }

}
.portfolio-more-control{
  display: none;
  div{
    margin-bottom: 10px;
    label{
      margin-right: 8px;
    }
    span.badge.not-sel{
      background-color: #af2a2a;
    }
  }
}

#page-content-wrapper.tab-flow {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}
.pad-20{
  padding: 20px;
  position: relative;
}
.tab-flow{
  .nav-tabs{
    background: #fff;
    padding: 25px 25px 0 25px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #405965;
    cursor: default;
    background-color: #e4e5e6;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
}
.slider-add-modal, .slider-edit-modal{
  height: 0;
}
.custom-input-file {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;

  background: #eee;
  background-image: linear-gradient(#c4e5ff, #d1cdbc);
  background-repeat: no-repeat;
  background-size: cover;

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=45, Color=#274B75)";/*IE 8*/
  -moz-box-shadow: -1px 1px 5px rgba(39,75,117,0.5);/*FF 3.5+*/
  -webkit-box-shadow: -1px 1px 5px rgba(39,75,117,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -1px 1px 5px rgba(39,75,117,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#274B75); /*IE 5.5-7*/
}

input[type="file"] {
  z-index: 9999;
  line-height: 0;
  font-size: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  margin: 0;
  padding: 0;
  left: 0;
}

.uploadPhoto {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 5em;
  display: none;
  width: 50%;
  color: #fff;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50px;
  cursor: pointer;
}

.custom-input-file:hover .uploadPhoto {
  display: block;
}
.banners-sort{
  background: #fff;
  position: relative;
  display: table;
  width: 100%;
  padding: 5px;
  border: solid 1px #cccccc;
  margin-bottom: 15px;
}
.ui-sortable-handle{
  *{
    cursor: -webkit-grab;
  }
  border: dashed 1px #eea236;
}
.banner-image{
  height: 150px;

  img{
    height: 100%;
    width: auto;
  }
}
.actions-control{
  position: absolute;
  width: 100%;
  display: table;
  padding: 15px;

  a {
    position: absolute;
    top: 0;
    background: #eea236;
    color: #fff;
    right: 20px;
    line-height: 30px;
    margin-right: -10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;

    &:hover{
      cursor: pointer;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
    }
  }
  a:first-child{
    right: 60px;
  }
}
#addNewRow{
  background: #fff;
  padding: 25px;
  border-radius: 3px;
}
.single-row{
  padding: 25px;
  background: #405965;
  border-radius: 3px;
  button.add-new-element-in-row{

    margin: 25px auto;
  }
}
.el-create-sort{
  background-color: #fff;
}
.el-control-actions span.fa{
  border: none!important;
}
.single-row-port-view{
  background: #fff;
  position: relative;
  display: table;
  width: 100%;
  border: solid 1px #405965;
  margin-bottom: 10px;
}
.row-edit-action{
  position: relative!important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.saveRowPort{
  display: none;
}

.gridster {
  .gs-w {
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #BBB;
  }
  .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;
  }
  .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: #a0a0a0 !important;
  }
  ul {
    background-color: #EFEFEF;
  }
  li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
  }
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
  font-weight: bold;
}
.gridster-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 15px 15px 15px;
  text-align: left;

  a {
    position: absolute;
    top: 5px;
    background: #eea236;
    color: #fff;
    right: 16px;
    line-height: 30px;
    margin-right: -10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;

    &:hover{
      cursor: pointer;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.76);
    }
  }
  a:first-child{
    right: 93px;
  }
  a.sec{
    right: 52px;
  }
  .publishPortfolio{
    background: green;
  }
}
.controls {
  margin-bottom: 20px;
}