block scripts
    script(type="text/javascript", src='/libs/jquery/dist/jquery.min.js')
    script(type="text/javascript", src='/libs/jquery-ui/jquery-ui.min.js')
    script(type="text/javascript", src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(type="text/javascript", src='/js/cpanel/init.js')
    script(type="text/javascript", src='/js/cpanel/admin.js')

// custom js
block specific_js