.row
    form#editForm(method="post", role='form', action="/control/admin/portfolio/edit/metadata/#{oldVal._id}", enctype="multipart/form-data")
        .col-xs-12
            .form-group
                label(for='mkeywords') Keywords (meta)
                textarea#mkeywords.form-control(name="m_keywords", rows=4)=(oldVal && oldVal.meta_keywords) ? oldVal.meta_keywords : ''
        .col-xs-12
            .form-group
                label(for='mcontent') Project description (meta)
                textarea#mcontent.form-control(name="m_content", rows=4)=(oldVal && oldVal.meta_content) ? oldVal.meta_content : ''
        .clearfix
        .col-xs-12.text-center.top-25
            button.btn.btn-md.btn-success(type="submit") Update meta content