block css
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')
    link(rel='manifest', href='/img/manifest.json')
    link(rel='mask-icon', href='/img/safari-pinned-tab.svg', color='#000000')
    meta(name='theme-color', content='#ffffff')


    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/video.js/dist/video-js.min.css')
    link(rel='stylesheet', href='/css/site/app.css')

// custom css
block specific_css