block css
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/video.js/dist/video-js.min.css')
    link(rel='stylesheet', href='/css/site/app.css')

// custom css
block specific_css