block scripts
    script(type="text/javascript", src='/js/site/modernizr.js')
    script(type="text/javascript", src='/libs/jquery/dist/jquery.min.js')
    script(type="text/javascript", src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(type="text/javascript", src='/js/site/velocity.min.js')
    script(type="text/javascript", src='/libs/video.js/dist/video.min.js')
    script(type="text/javascript", src='/libs/videojs-youtube/dist/Youtube.min.js')

    script(type="text/javascript", src='/js/site/header-navigation.js')
    script(type="text/javascript", src='/js/site/fillSvg.js')
    script(type="text/javascript", src='/js/site/team.js')
    script(type="text/javascript", src='/js/site/init.js')

// custom js
block specific_js