.noscriptmsg
    .text-center
        p(style="color: red;z-index:9999") You don't have javascript enabled.  Good luck with that.
        a(target="_blank",href="https://www.google.com/search?q=How+to+enabled+JavaScript+in+browser%3F&oq=How+to+enabled+JavaScript+in+browser%3F&aqs=chrome..69i57j0l5.6842j0j7&sourceid=chrome&ie=UTF-8")
            | How to enable JavaScript in browser?