$top-border-color: #e4e4e4;
$nav-full-color: #f9f9f9;
$nav-full-a-color: #292929;
$bgservices : #f9f9f9;
$bgwhite : #fff;
$brand-white-color: #fff;
$brand-description-gray-bolor: #eff0f0;
$brand-description-scrolled-gray-bolor: #5d5d5d;
$nav-open-color: #000;
$brand-dark-scrolled-color: rgba(111, 111, 111, 0.3);
$article-text-color: #5d5d5d;
$article-title-color: #000;
$recent-work-title-color: #64454a;
$recent-work-link-color: #ada699;
$recent-work-link-color: #ada699;
$footer-text-color: #575757;
$footer-background-color: #f9f9f9;
$send-email-title-color: #606161;
$send-message-input-border-color: #dddddd;
$send-message-btn-color: #333333;
$share-block-color: #505050;
$portfolio-page-background-color: #ffffff;
$share-block-date-color: #bfbfbf;
$share-social-icons-bkg-color: #313131;
$share-social-icons-color: #fff;
$service-description-text-color: #9f9f9f;
$service-title-color: #292929;
$service-background-color: #f9f9f9;
$filter-title-color: #484848;
$team-page-bckg-color: #f1f1f1;
$teambg: #f1f1f1;
$teamText : #828282;
$officeDetail : #f9f9f9;
$member-desc-color: #828282;
$prtText : #333333;