script.
    $('.toggle-menu-btn').click(function ($event) {
        $event.stopPropagation();
        $("#wrapper").toggleClass("toggled");
    });
    function initMenu() {
        $('#myAccordion li a').on( "click", function () {
            $('.collapse.in').collapse('hide');
        });
    }
    $(document).ready(function () {
        initMenu();
    });
#sidebar-wrapper
    ul.sidebar-nav#myAccordion
        li(class=(active_menu === 'home' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_home", data-parent="#myAccordion")
            a
                i.fa.fa-address-card-o
                span    HOME page
            ul#_home.sub-menu.collapse
                li
                    a(href="/control/admin/home?lang=en")
                        i.fa.fa-angle-double-right
                        |  Edit (eng)
                li
                    a(href="/control/admin/home?lang=ru")
                        i.fa.fa-angle-double-right
                        |  Edit (rus)
        li(class=(active_menu === 'services' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_services", data-parent="#myAccordion")
            a
                i.fa.fa-cubes
                span    BIO page
            ul#_services.sub-menu.collapse
                li
                    a(href="/control/admin/services?lang=en")
                        i.fa.fa-angle-double-right
                        |  Edit (eng)
                li
                    a(href="/control/admin/services?lang=ru")
                        i.fa.fa-angle-double-right
                        |  Edit (rus)
        li(class=(active_menu === 'portfolio' ? 'activeMenu' : ''))
            a(href="/control/admin/portfolio")
                i.fa.fa-briefcase
                span    NEWS page
        li(class=(active_menu === 'recent' ? 'activeMenu' : ''))
            a(href="/control/admin/recent")
                i.fa.fa-sitemap
                span    Last Updates
        li(class=(active_menu === 'covers' ? 'activeMenu' : ''), data-toggle="collapse",data-target="#_covers", data-parent="#myAccordion")
            a
                i.fa.fa-caret-square-o-right
                span    MY WORKS page
            ul#_covers.sub-menu.collapse
                li
                    a(href="/control/admin/covers?lang=en")
                        i.fa.fa-angle-double-right
                        |  Edit (eng)
                li
                    a(href="/control/admin/covers?lang=ru")
                        i.fa.fa-angle-double-right
                        |  Edit (rus)
        li(class=(active_menu === 'team' ? 'activeMenu' : ''))
            a(href="/control/admin/offices/edit/contacts")
                i.fa.fa-users
                span    Contacts

        li.divider
        li(class=(active_menu === 'headers' ? 'activeMenu' : ''))
            a(href="/control/admin/headers")
                i.fa.fa-file-image-o
                span    Headers

        li.divider
        li(class=(active_menu === 'media-files' ? 'activeMenu' : ''))
            a(href="/control/admin/media-files")
                i.fa.fa-picture-o
                span    Media files
