extends ../../layouts/index_layout

block specific_css

block specific_js

block content

    // site navigation bar
    include components/_navigation
    // mega full header bock
    include components/_secondary_mega_nav

    main.portfolio-main
        // main content
        section.scroll-from-header.images-container#portfolioList(style="padding-top: 50px;")
            .container
                .col-xs-12
                    if(portfolio && portfolio.length == 0)
                        h1 Nothing to show
                    else
                        each data in portfolio
                            .col-xs-12.col-sm-4.sorting-control
                                a(href="/portfolio/" + data.uniqueName + "?lang=#{lang}")
                                    img(src="/images/" + data.coverImage)
                                    .overlay
                                    h4(style="margin-top: 8px;margin-bottom: -5px;")=data.name[lang]
                                    p=data.dateOfCreate




        // site footer
        include components/_footer