doctype html
html
    head
        // meta
        include ../static/cpanel/_meta

        // title
        include ../static/cpanel/_title

        // stylesheets
        include ../static/cpanel/_css

        // js
        include ../static/cpanel/_js

    body

        noscript
            include ../static/cpanel/_noscript

        block content
