.offices-top-section-control
    if(office.layout == 'image')
        img#imageMorning(src="/images/"+office.main_image_morning)
        img#imageNight(src="/images/"+office.main_image_night)
    .time-section
        span#timeNow

if(office.timezone == 'moscow')
    script.
        var timer = null;
        var timerrun = false;
        function stoptime() {
            if (timerrun)
                clearTimeout(timer);
            timerrun = false;
        }
        function starttime() {
            stoptime();
            showtime();
        }
        function showtime() {
            var all = new Date((new Date) * 1 - 1000 * 3600 * 1);
            var hours = all.getHours();
            var minutes = all.getMinutes();
            var timevalue = " " + ((hours > 12) ? hours - 12 : hours)
            timevalue += ((minutes < 10) ? ":0" : ":") + minutes
            timevalue += (hours >= 12) ? " pm" : " am";
            if (hours >= 12) {
                document.getElementById('imageMorning').style.display = "block";
                document.getElementById('imageNight').style.display = "none";
            } else {
                document.getElementById('imageMorning').style.display = "none";
                document.getElementById('imageNight').style.display = "block";
            }
            document.getElementById('timeNow').innerHTML = timevalue;
            timer = setTimeout('showtime()', 20000);
            timerrun = true;
        }
        starttime();
else
    script.
        var timer = null;
        var timerrun = false;
        function stoptime() {
            if (timerrun)
                clearTimeout(timer);
            timerrun = false;
        }
        function starttime() {
            stoptime();
            showtime();
        }
        function showtime() {
            var all = new Date();
            var hours = all.getHours();
            var minutes = all.getMinutes();
            var timevalue = " " + ((hours > 12) ? hours - 12 : hours)
            timevalue += ((minutes < 10) ? ":0" : ":") + minutes
            timevalue += (hours >= 12) ? " pm" : " am";
            if (hours >= 12) {
                document.getElementById('imageMorning').style.display = "block";
                document.getElementById('imageNight').style.display = "none";
            } else {
                document.getElementById('imageMorning').style.display = "none";
                document.getElementById('imageNight').style.display = "block";
            }
            document.getElementById('timeNow').innerHTML = timevalue;
            timer = setTimeout('showtime()', 20000);
            timerrun = true;
        }
        starttime();
