.siteLoader
    svg.pulse-svg(height='58px', version='1.1', viewbox='0 0 58 58', width='58px', xmlns='http://www.w3.org/2000/svg')
        circle.circle.first-circle(cx='29', cy='29', opacity='0', r='25')
        circle.circle.second-circle(cx='29', cy='29', opacity='0', r='25')
        circle.circle.third-circle(cx='29', cy='29', opacity='0', r='25')
    img.pre-load-img(src="/img/site/pre-logo.png")