#privacy.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-times
                h4.modal-title Privacy Policy
            .modal-body.pd-25
                h2 General
                p
                    |   &quot;Brands &amp; Business&quot; conference does not collect personal information about their
                    |   customers, unless they do not will to provide it, which is completely voluntary. Personal
                    |   information will be used by us only in order to provide you with the requested
                    |   information, or an answer to your question or message. In some cases, wothout
                    |   providing information to us may be an obstacle on providing you with the requested
                    |   service.
                p
                    |   There are also some types of information that are stored on our site automatically: your
                    |   IP address, and date of visits to our site. This information is necessary to count visitors
                    |   and to make it more useful for all users.
                h2 Social resources
                p
                    |   On our site you can see the links to social networks. They are used by us to
                    |   communicate with audiences around the world to inform about various events, as well
                    |   as to interact with the public.
                p
                    |   We do not use third-party web pages to collect and store personal information. No
                    |   personal information will be disclosed, sold or transferred to other persons who are not
                    |   a part of our company.
                p
                    |   From time to time we will organize various online polls in order to indentify our visitor&#39;s
                    |   opinions.
                p
                    |   This survey also does not collect personal information, and participation in it is not
                    |   mandatory.